::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 10px;
    border: 1px solid white;
}

::-webkit-scrollbar-track {
    background: #f0f0f0;
}

body {
    background: #FFF;
    font-family: sans-serif;
    margin: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    flex-wrap: nowrap;
}

#header-name {
    cursor: pointer;
}

.items-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(368px, 1fr));
    grid-auto-rows: 1fr;
    justify-content: end;
    perspective: 5000px;
    box-shadow: inset 0 0 10px 0 #000;
}

.items-wrapper > h2 {
    margin: 100% 0.5rem;
}

.items-wrapper.small {
    grid-template-columns: repeat(auto-fill, minmax(184px, 1fr));
    transition: 0.2s;
}

.gallery {
    display: grid;
    grid-template-columns: max-content auto;
}

@media (max-width: 680px) {
    .gallery {
        grid-template-columns: auto;
    }
}

.sorting-wrapper {
    display: flex;
    justify-content: space-between;
}

button.style-changer-button {
    width: 24px;
    height: 24px;
    margin: 0 8px;
    cursor: pointer;
}

button.style-changer-button:last-child {
    margin: 0;
}

button.style-changer-button.big {
    background-size: 26px;
}

button.style-changer-button.activated {
    border-color: greenyellow;
}

.sorting-items {
    cursor: pointer;
}

.sorting-items > option::before {
    content: 'Sort by: ';
}

.gallery-item {
    cursor: pointer;
    padding: 1px;
    border: 2px solid;
    margin: 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    background: white;
    opacity: 0;
    transform: rotate3d(1, -0.1, -0.1, 100deg);
    transition: all 0.3s ease-in-out;
}

.gallery-item.animated {
    opacity: 1;
    transform: none;
    transition: all 0.3s ease-in-out;
}

.gallery-item.animated:hover {
    border: 2px solid #111;
    animation: .7s cubic-bezier(0.06, 0.81, 0.52, 0.89) 0s infinite alternate bg-spin;
}

@keyframes bg-spin {
    to {
        border: 2px solid #eee;
    }
}

.gallery-item.animated.small {
    height: 250px;
    font-size: .8rem;
}

.gallery-item img {
    float: left;
    object-fit: scale-down;
    width: 100%;
    height: 200px;
    padding: 2px;
}

.filters-buttons-wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: nowrap;
}

.filters-button {
    background: wheat;
    transition: all 0.4s;
    font-size: 1.5rem;
    border-radius: 0.5rem;
    width: 100%;
    margin: 0 2px;
    padding: 0;
    border-color: chocolate;
}

.filters-button.activated {
    background: lightgreen;
    transition: 0.2s;
}

.filters-search-wrapper > input[type="text"] {
    background-position: 0;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    width: 80%;
    font-size: 1.3rem;
    padding: 0 0 0 24px;
    display: block;
    margin: 12px auto;
    border-radius: 0.3rem;
    box-shadow: 0 0 8px #bbb;
}

.filters-checkbox-wrapper > h3 {
    text-align: center;
}

.filters-checkbox-wrapper {
    border: 2px solid;
    border-radius: 1rem;
    margin: 8px;
    box-shadow: 0 0 1px 0 #000;
}

.filters-checkbox-wrapper > ul {
    height: 300px;
    padding: 0;
    overflow-y: scroll;
    box-shadow: inset 0 0 3px 0;
}

.filters-checkbox-wrapper > ul > li {
    cursor: pointer;
    margin: .2rem 0;
}

.filters-checkbox-wrapper > ul > li::marker {
    content: none;
}

.filters-checkbox-wrapper > ul > li::before {
    content: ' ';
    display: inline-block;
    border: 1px solid;
    width: 1em;
    height: 1em;
    margin: 0 2px;
    position: relative;
    top: .1rem;
}

.filters-checkbox-wrapper > ul > li.checked-filter {
    padding: 3px 0 0 0;
}

.filters-checkbox-wrapper > ul > li.checked-filter::before {
    content: 'X';
    text-align: center;
    top: 0;
    transition: 0.1s;
}

.filter-deactivated {
    color: gainsboro;
}

.filter-slider-wrapper {
    display: flex;
    flex-direction: column;
    width: 85%;
    margin: 50px auto;
    border: 2px solid;
    padding: 10px 13px 10px 10px;
    border-radius: 8px;
    box-shadow: 0 0 1px 0 #000;
}

.filter-slider-wrapper > h3 {
    text-align: center;
}

.filter-slider-range-wrapper {
    position: relative;
    min-height: 50px;
}

.filter-slider-form-wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    color: #635a5a;
}

.filter-slider-range-wrapper input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    pointer-events: all;
    width: 24px;
    height: 24px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 0 1px #C6C6C6;
    cursor: pointer;
}

.filter-slider-range-wrapper input[type=range]::-moz-range-thumb {
    -webkit-appearance: none;
    pointer-events: all;
    width: 24px;
    height: 24px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 0 1px #C6C6C6;
    cursor: pointer;
}

.filter-slider-range-wrapper input[type=range]::-webkit-slider-thumb:hover {
    background: #f7f7f7;
}

.filter-slider-range-wrapper input[type=range]::-webkit-slider-thumb:active {
    box-shadow: inset 0 0 3px #387bbe, 0 0 9px #387bbe;
    -webkit-box-shadow: inset 0 0 3px #387bbe, 0 0 9px #387bbe;
}

.filter-slider-range-wrapper input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    height: 2px;
    width: 100%;
    position: absolute;
    background-color: #C6C6C6;
    pointer-events: none;
}

.item-page-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.item-page-main-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

@media (max-width: 1200px) {
    .item-page-main-wrapper {
        flex-direction: column;
    }
}

.item-page-image-wrapper {
    display: flex;
    float: left;
    object-fit: scale-down;
    height: 600px;
    flex-wrap: wrap;
    align-items: center;
}

.item-page-side-images-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    border: 2px solid slategrey;
    padding: 1px 5px;
    border-radius: 5px;
}

.item-page-side-images-wrapper > img {
    float: left;
    object-fit: scale-down;
    width: 100px;
    height: 100px;
    padding: 2px;
    border: 1px solid;
    margin: 1px;
    transition: 0.2s;
}

.item-page-side-images-wrapper > img.activated {
    border: 4px solid greenyellow;
    border-radius: 5px;
    transition: 0.2s;
}

.item-page-image-block-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
}

.item-page-image-wrapper img {
    object-fit: scale-down;
}

.item-page-image-wrapper button {
    cursor: pointer;
    background: ghostwhite;
    padding: 20px 25px;
    border-radius: 50%;
    border-width: 0;
    margin: 0 5px;
}

input[type="text"]:invalid {
    border: 1px solid red;
}



.buy-now-window {
    position: absolute;
    background: white;
    padding: 30px;
    border: 3px solid;
    border-radius: 2rem;
}

.personal-info-input-wrapper {
    padding: 1rem;
}

.item-page-property-wrapper {
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: 100%;
    max-width: 25vw;
    background: bisque;
    border: 1px solid;
    border-radius: 3px;
    word-break: break-all;
}

@media (max-width: 1200px) {
    .item-page-property-wrapper {
        width: 90vw;
        max-width: 100vw;
    }
}

.item-page-property-name {
    text-align: center;
}

.item-page-property-value {
    background: #ebebeb;
    padding: 8px;
    border-top: 1px solid;
    border-radius: 2px;
}

.item-page-property-value.stars{
    display: inline-block;
    font-size: 60px;
    font-family: Times;
    line-height: 1;
    word-break: keep-all;
}

.item-page-property-value.stars::before{
    content: '★★★★★';
    letter-spacing: 3px;
    background: linear-gradient(90deg, #fc0 var(--rating), #fff var(--rating));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.rating-tooltip-wrapper {
    transform: translate(180%, -80%);
    transition: 200ms;
    padding: 20px;
    color: #666666;
    background-color: #EEEEEE;
    font-weight: normal;
    border-radius: 8px;
    position: absolute;
    z-index: 1;
    box-sizing: border-box;
    font-family: fantasy;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
}

.item-page-property-value:hover .rating-tooltip-wrapper {
    transform: translate(210%, -80%);
    visibility: visible;
    opacity: 1;
    transition: 200ms;
}

p.rating-tooltip {
    margin: 0;
}

.item-page-properties-wrapper {
display: flex;
flex-direction: column;
align-items: flex-start;
}

.item-page-button {
    font-size: 1.2rem;
    display: block;
    padding: 7%;
    background: wheat;
    border: 2px solid;
    border-radius: 0.3rem;
    cursor: pointer;
    width: 100%;
    margin: 1rem auto;
}

.not-found-page {
    text-align: center;
}

.error-title-wrapper > h2 {
    font-size: 3rem;
}

header {
padding: 10px 30px;
}

header h1 {
font-size: 40px;
font-weight: 800;
}

main {
flex: 1 0 auto;
}

footer {
height: 100px;
display: flex;
align-items: center;
justify-content: space-around;
}

footer .copyright {
font-size: 14px;
color: #333;
text-align: center;
}

footer .copyright a {
color: #444;
}

footer .copyright a:hover {
color: #555;
}

footer .copyright:before {
content: '©';
}

footer .rsschool img {
max-width: 100%;
height: 2rem;
}

footer .github a img {
height: 2.5rem;
max-width: 100%;
}
